.feedback__top-blur{
  position: absolute;
  top: -50px;
  left: calc(50% - 250px);
  width: 248px;
  height: 250px;
  z-index: 2;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(100px);
  transform: rotate(5.78deg) translateX(-50%);
}
@media screen and (max-width: 992px) {
  .feedback__top-blur {
    top: 0%;
    left: calc(50% - 150px);
  }
}