.advantages__caption-3 {
  position: absolute;
  width: 185px;
  height: 91px;
  background: #000000;
  border: 0.75px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 18px;
  top: 639px;
  left: 695px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  padding: 19px 23px;
}
@media screen and (max-width: 992px) {
  .advantages__caption-3 {
    width: 122px;
    height: 58px;
    font-size: 14px;
    line-height: 16px;
    top: 424px;
    left: 240px;
    padding: 13px 18px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 380px) {
  .advantages__caption-3 {
    left: 214px;
  }
}