.footer__copyright {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
@media screen and (max-width: 767px) {
  .footer__copyright  {
    font-size: 14px;
    line-height: 19px;
    margin: 9px 0 24px 0;
  }
}