
.download__caption {
  margin: 91px 0 32px 0;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.03em;
  z-index: 5;
}
@media screen and (max-width: 830px) {
  .form__caption  {    
    margin: 74px 0 45px 0;
  }
}