@import url("./generic/normalize.css");
@import url("./generic/fonts.css");
/* @import url("./blocks/container/container.css");
@import url("./blocks/app-links/__link/app-links__link.css");
@import url("./blocks/app-links/__appstore/stores__appstore.css");
@import url("./blocks/app-links/__googleplay/stores__googleplay.css");
@import url("/copy-landing-page/blocks/app-links/app-links.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__login-logo/header__login-logo.css");
@import url("./blocks/header/__login/header__login.css");
@import url("./blocks/header/__name/header__name.css");
@import url("./blocks/header/__notab-logo/header__hotab-logo.css");
@import url("./blocks/header/__notab/header__notab.css");
@import url("./blocks/header/__login-link/header__login-link.css");

@import url("./blocks/home/home.css");
@import url("./blocks/home/__header/home__header.css");
@import url("./blocks/home/__round-blur/home__round-blur.css");
@import url("./blocks/home/__line/home__line.css");
@import url("./blocks/home/__description/home__description.css");
@import url("./blocks/home/__iphone/home__iphone.css");
@import url("./blocks/home/__wrong-shape-blur/home__wrong-shape-blur.css");
@import url("./blocks/home/__download/home__download.css");
@import url("./blocks/home/__stores/home__stores.css"); */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #000000;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
}
/* --COMMON---------------------------------------------------------- */
/* ._title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
}
._subtitle {  
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
} */
/* --header------------------------------------ */
.header {
  z-index: 25;
  width: 100%;
  left: 0;
  top: 0;
  min-height: 130px;
  display: flex;
}

@media screen and (max-width: 992px) {
  .header {
    justify-content: space-between;
  }
}

.header__notab-block {
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 23px 0 0 85px;
}

@media screen and (max-width: 992px) {
  .header__notab-block {
    margin-left: 15px;
    margin: 5px 0 0 15px;
    justify-content: space-between;
  }
}

.header__notab-cube {
  height: 107px;
  width: 109px;
}

@media screen and (max-width: 992px) {
  .header__notab-cube {
    height: 53px;
    width: 52px;
  }
}

.header__name {
  height: 25px;
  width: 96px;
}

@media screen and (max-width: 992px) {
  .header__name {
    height: 12px;
    width: 46px;
  }
}

.header__login {
  z-index: 10;
  display: flex;
  align-items: center;
  margin: 18px 0 0 108px;
}

@media screen and (max-width: 992px) {
  .header__login {
    margin: 5px 0 0 15px;
  }
}

.header__login-logo {
  width: 26px;
  height: 24.99px;
}

@media screen and (max-width: 992px) {
  .header__login-logo {
    display: none;
  }
}

.header__login-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Noto Sans";
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  height: 22px;
  border-bottom: 1px solid #ffffff;
  margin: 0 15px;
}

@media screen and (max-width: 992px) {
  .header__login-link {
    font-family: "Noto Sans";
    font-size: 14px;
    line-height: 19px;
  }
}

/* --HOME------------------------------------------------ */

.home {
  overflow: hidden;
  margin: -200px 0 0 0;
  padding: 200px 0 0 0;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas:
    "text iphone"
    "text iphone"
    ". iphone"
    "download stores";
  grid-template-columns: 1fr 40%;
}

@media screen and (max-width: 992px) {
  .home {
    grid-template-areas:
      "text iphone"
      "text iphone"
      "download download"
      "stores stores";
    grid-template-columns: 1fr 25%;
  }
}

.home__line {
  z-index: 2;
  width: 140px;
  height: 0px;
  border: 4px solid #ffffff;
  transform: rotate(120.61deg);
  position: absolute;
  left: 93px;
  top: 670px;
}

@media screen and (max-width: 1060px) {
  .home__line {
    display: none;
  }
}

.home__round-blur {
  z-index: 1;
  position: absolute;
  left: 93px;
  top: 570px;
  width: 125px;
  height: 125px;
  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}

@media screen and (max-width: 992px) {
  .home__round-blur {
    display: none;
  }
}
.home__wrong-shape-blur {
  width: 662px;
  height: 783px;
  left: 60%;
  top: 25px;
  position: absolute;
  background-image: url(./img/home-blur-wrong-shape.svg);
  background: rgba(250, 0, 255, 0.2);
  filter: blur(250px);
  transform: rotate(-105.26deg);
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .home__wrong-shape-blur {
    width: 363px;
    height: 474px;
    background-image: url(./img/wrong-shape-blur-mobile.svg);
    background: rgba(250, 0, 255, 0.5);
    filter: blur(250px);
    transform: rotate(-90.69deg);
  }
}

.home__iphone {
  width: 333x;
  height: 668px;
  z-index: 2;
  grid-area: iphone;
  border-radius: 50px;
  overflow: hidden;
  margin: 29px auto 83px auto;
}

@media screen and (max-width: 767px) {
  .home__iphone {
    border-radius: 15px;
    margin: 65px auto 55px auto;
    width: 161px;
    height: 323px;
  }
}

.home__download-caption {
  grid-area: download;
  margin: 0 0 0 100px;
  font-size: 35px;
  line-height: 70px;
}

@media screen and (max-width: 992px) {
  .home__download-caption {
    margin: 0px auto 34px auto;
    font-size: 24px;
    line-height: 29px;
  }
}

.home__text {
  z-index: 2;
  margin: 143px 0 0 100px;
}

@media screen and (max-width: 992px) {
  .home__text {
    margin: 98px 15px 0 15px;
  }
}

.text__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

.text__title_athome {
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .text__title_athome {
    font-size: 35px;
    line-height: 40px;
  }
}

.text__subtitle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.text__subtitle_athome {
  font-size: 20px;
  line-height: 27px;
  margin: 129px 0 0 105px;
  max-width: 380px;
}

@media screen and (max-width: 767px) {
  .text__subtitle_athome {
    font-size: 16px;
    line-height: 22px;
    margin: 24px 0 0 0px;
  }
}

.home__stores {
  grid-area: stores;
  margin-top: 34px;
}

.app-links {
  grid-area: stores;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 479px) {
  .app-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
  }
}

.app-links__appstore {
  width: 164px;
  height: 52px;
  margin: 0 24px;
}

@media screen and (max-width: 992px) {
  .app-links__appstore {
    width: 185px;
    height: 60px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 479px) {
  .app-links__appstore {
    width: 185px;
    height: 60px;
  }
}

.app-links__googleplay {
  width: 184.5px;
  height: 51.33px;
  margin: 0 24px;
}

@media screen and (max-width: 992px) {
  .app-links__googleplay {
    width: 185px;
    height: 60px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 479px) {
  .app-links__googleplay {
    margin: 24px;
    width: 185px;
    height: 60px;
  }
}
/* --Partnership---------------------------------------------- */
.partnership {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .partnership {
    flex-direction: column;
    margin-top: 45px;
  }
}
.contact {
  width: 503px;
  height: 312px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  display: flex;
  margin: 154px 40px 0;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .contact {
    width: auto;
    height: auto;
    margin: 15px;
  }
}
.contact__title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
  margin: 0 73px 30px 55px;
}
@media screen and (max-width: 767px) {
  .contact__title {
    font-size: 24px;
    line-height: 33px;
    margin: 39px 54px 30px 33px;
  }
}
.contact__link {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  margin: 0px 55px;
}

@media screen and (max-width: 767px) {
  .contact__link {
    font-size: 18px;
    line-height: 25px;
    margin: 0px 54px 40px 33px;
  }
}
/* --Mission-------------------------------- */
.mission {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .mission {
    display: flex;
    flex-direction: column;
  }
}


.mission__iphone {
  position: relative;
  border-radius: 85px;
  margin: 5px auto 115px;
  width: 498px;
  height: 999px;
  transform-origin: 0px 246px;
  transform: rotate(90deg);
}


@media screen and (max-width: 992px) {
  .mission__iphone {
    position: static;
    margin: 163px auto;
    width: 173px;
    height: 346px;
    transform: rotate(0deg);
    border-radius: 28px;
  }
}

.mission__iphone:hover {
  transform: rotate(0deg);
  transition: all 2s linear;
}

.mission__iphone img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.misson__text {
  z-index: 5;
  width: 358px;
  height: 322px;
  position: absolute;
  top: 236px;
  left: 60%;
  transition: left 2s linear;
}

@media screen and (max-width: 992px) {
  .misson__text {
    position: static;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    margin: 95px 15px 0 15px;
  }
}

.misson__text:hover {
  left: 100%;
}
.text {
  grid-area: text;
}
.text__title {
}
.text__title_atmission {
  z-index: 5;
  margin-top: 0px;
  font-size: 51px;
  line-height: 62px;
}

@media screen and (max-width: 992px) {
  .text__title_atmission {
    font-size: 24px;
    line-height: 29px;
  }
}

.text__subtitle {
}
.text__subtitle_atmission {
  margin-top: 23px;
  font-size: 18px;
  line-height: 25px;
}
@media screen and (max-width: 992px) {
  .text__subtitle_atmission {
    font-size: 16px;
    line-height: 22px;
  }
}
.mission__round-blur {
  z-index: -1;
  position: absolute;
  left: 197px;
  top: 7px;
  width: 85px;
  height: 85px; 
  background: #F101BF;
  opacity: 0.7;
  filter: blur(50px);
}
@media screen and (max-width: 992px) {
  .mission__round-blur {
    left: 15px;
    top: 95px;
  }
}
/* --Scanner------------------------------------- */
.scanner {
  position: relative;
  display: grid;
  grid-template-areas:
  "verification success text-scanner";
  grid-template-columns: 1fr 1fr 44%;
}
@media screen and (max-width: 1260px) {
  .scanner {
    grid-template-areas:
    "text-scanner text-scanner"
    "verification success";
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .scanner {
    grid-template-areas:
    "text-scanner"
    "verification"
    "success";
    grid-template-columns: 1fr;
  }
}
.scanner__blur-layer{
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 2;
  width: 1440px;
  height: 1060px;
  background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
}
@media screen and (max-width: 454px) {
  .scanner__blur-layer {
    width: 457px;
    height: 300px;
    background: linear-gradient(179.83deg, #000000 -1.85%, rgba(0, 0, 0, 0.67) 11.21%, rgba(0, 0, 0, 0) 54.71%, #000000 83.92%);                                                      
  }
}
.scanner__barman {
  z-index: 1;
  position: absolute;
  width: 1440px;
  height: 836px;
}
@media screen and (max-width: 454px) {
  .scanner__barman {
    width: 454px;
    height: 263px;
  }
}
.scanner__barman img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.scanner__iphone-verification {
  width: 333x;
  height: 667px;
  z-index: 3;
  grid-area: verification;
  margin: 467px 0px 0px 100px;
}
@media screen and (max-width: 1260px) {
  .scanner__iphone-verification {
    margin: 200px auto 0px;
  }
}
@media screen and (max-width: 454px) {
  .scanner__iphone-verification {
    margin-top: 70px;
    width: 287px;
    height: 576px;
  }
}
.scanner__iphone-success {  
  width: 333x;
  height: 667px;
  z-index: 3;
  grid-area: success;
  margin: 467px 0px 0px 50px;
}
@media screen and (max-width: 1260px) {
  .scanner__iphone-success {
    margin: 200px auto 0px;
  }
}
@media screen and (max-width: 454px) {
  .scanner__iphone-success {
    margin-top: 55px;
    width: 287px;
    height: 576px;
  }
}
@media screen and (max-width: 1260px) {
  .text_at_scanner {
    grid-area: text-scanner;
    margin: 100px 100px 0px 100px;
    max-width: 815px;
  }
}
.text_at_scanner {
  z-index: 3;
  grid-area: text-scanner;
  margin: 854px 0px 0px 129px;
  max-width: 316px;
}
@media screen and (max-width: 1260px) {
  .text_at_scanner {
    grid-area: text-scanner;
    margin: 100px 100px 0px 100px;
    max-width: 815px;
  }
}
@media screen and (max-width: 454px) {
  .text_at_scanner {
    margin: 234px 15px 0;
  }
}
.text__title_at_scanner {
  margin: 0px;
  font-size: 51px;
  line-height: 62px;
}
@media screen and (max-width: 454px) {
  .text__title_at_scanner {
    font-size: 24px;
    line-height: 29px;
  }
}
.text__subtitle_at_scanner {
  margin-top: 23px;
  max-width: 316px;
  font-size: 18px;
  line-height: 25px;
}
@media screen and (max-width: 454px) {
  .text__subtitle_at_scanner {
    margin-top: 24px;
    font-size: 16px;
    line-height: 22px;
  }
}