.home__round-blur {
  z-index: 1;
  position: absolute;
  left: 93px;
  top: 570px;
  width: 125px;
  height: 125px;
  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}

@media screen and (max-width: 992px) {
  .home__round-blur {
    display: none;
  }
}