@import url("./generic/normalize.css");

.container {
  width: 100%;
  height: 100vh;
  background: rgb(40,48,68);
  background: linear-gradient(270deg, #283044 0%, #78A1BB 100%); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  min-width: 1230px;
  min-height: 800px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 15px 30px #000000;
  display: grid;
  grid-template-areas: 
  "left-arrow viewport right-arrow"
  "radiobuttons radiobuttons radiobuttons";
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 80% 20%;
}

.slider__arrow {
  position: relative;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: #78A1BB;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  width: 35px;
  height: 35px;
  align-self: center;
  justify-self: center;
  grid-area: left-arrow;
}

.slider__arrow:hover {background-color: #283044}

.slider__arrow:active {
  background-color: #78A1BB;
  box-shadow: 0 1px #666;
  transform: translateY(3px);
}
.slider__arrow img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30px;
  height: 30px;
}
.slider__arrow_perv {
  grid-area: left-arrow;
}
.slider__arrow_next {
  grid-area: right-arrow;
}
.slider__dot-buttons-container {
  grid-area: radiobuttons;
  width: 300px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.slider__viewport{
  width: 980px;
  height: 550px;
  align-self: center;
  justify-self: center;
  grid-area: viewport;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.slider__image {
  width: 100%;
  display: none;
}
.slider__image_active {
  position: absolute;
  top:0%;
  display: block;
}

.slider__dot-button {
  width: 15px;
  height: 15px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #78A1BB;
}

